# build artifacts

.eggs/
.mypy_cache
*.egg-info/
build/
dist/
pip-wheel-metadata/


# dev tools

.envrc
.python-version
.idea
.venv/
.conda/
.vscode/*
!.vscode/
!.vscode/settings.sample.json
!.vscode/extensions.json
/*.iml
pyrightconfig.json

# jupyter notebooks

.ipynb_checkpoints


# miscellaneous

.cache/
doc/_build/
*.swp
.DS_Store


# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.coverage
.pytest_cache/
.benchmarks

# documentation build artifacts

docs/build
site/
docs/source/reference/generated/
docs/source/tutorials/*.cif
docs/source/tutorials/*.mcif

# local packages
anri/sandbox/jaxkd
anri/sandbox/forward_backward/optax
anri/sandbox/forward_backward/*.cif
anri/sandbox/forward_backward/*.par
anri/sandbox/forward_backward/*.json
anri/sandbox/forward_backward/*.map
anri/sandbox/forward_backward/*.h5
anri/sandbox/forward_backward/*.flt*
anri/sandbox/*.cif
anri/sandbox/*.par
anri/sandbox/*.json
anri/sandbox/*.map
anri/sandbox/*.ubi
anri/sandbox/*.h5
anri/sandbox/*.flt*

# local test data
tests/data/sandbox/refine