# build artifacts

.eggs/
.mypy_cache
*.egg-info/
build/
dist/
pip-wheel-metadata/


# dev tools

.envrc
.python-version
.idea
.venv/
.conda/
.vscode/*
!.vscode/
!.vscode/settings.sample.json
!.vscode/extensions.json
/*.iml
pyrightconfig.json

# jupyter notebooks

.ipynb_checkpoints


# miscellaneous

.cache/
doc/_build/
*.swp
.DS_Store


# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.coverage
.pytest_cache/
.benchmarks

# documentation build artifacts

docs/build
site/
docs/source/reference/generated/
docs/source/tutorials/*.cif
docs/source/tutorials/*.mcif
# files written when running the docs notebooks
docs/source/tutorials/*.ubi
docs/source/tutorials/*.map
docs/source/tutorials/*.par
docs/source/tutorials/*.flt
docs/source/tutorials/*.flt.new
docs/source/examples/*.ubi
docs/source/examples/*.map
docs/source/examples/*.par
docs/source/examples/*.flt
docs/source/examples/*.flt.new
docs/source/*/dual_peaks.png
docs/source/*/dual_peaks.pdf
docs/source/*/graz_peaks.png
docs/source/*/graz_peaks.pdf

# local packages
anri/sandbox/jaxkd
anri/sandbox/forward_backward/optax

# sandbox
# for now, ignore whole sandbox during dev
anri/sandbox/*
anri/sandbox/forward_backward/*.cif
anri/sandbox/forward_backward/*.par
anri/sandbox/forward_backward/*.json
anri/sandbox/forward_backward/*.map
anri/sandbox/forward_backward/*.h5
anri/sandbox/forward_backward/*.flt*
anri/sandbox/*.cif
anri/sandbox/*.par
anri/sandbox/*.json
anri/sandbox/*.map
anri/sandbox/*.ubi
anri/sandbox/*.h5
anri/sandbox/*.flt*

# local test data
tests/data/sandbox/refine